/.bsp/
target/
.metals/
.bloop/
keyfile.json
.vscode/
.bloop/
target/
*.db
*_vk.txt
vk.txt
*.pbuf
.idea/
*.log
*.worksheet.sc
tmp/
*.vk
mnemonic.txt
grouppolicy.yaml
node_modules/
dist/
resources/static
test.fish
*.code-workspace